{
  "extends": "eslint:recommended",
  "parserOptions": {
    "env": {
      "es6" : true
    },
    "sourceType": "module"
  },
  "rules": {
    "quotes": [2, "single"],
    "indent": [2, 4],
    "comma-dangle": [2, "always"]
  }
}
